<% # coding: utf-8 %>
<h1>Pages#help</h1>
<p>Find me in app/views/pages/help.html.erb</p>
<% a= getprize "601006" %>
<%= a[0] %>
<%=  isrightnum? "6016" %>
<%= a %>
<%= islilyuser? "ssssssfalconlux" %>
<%= link_to "ssss", "http://image.sinajs.cn/newchart/weekly/n/sh000001.gif", :class=>"sss" , :id=>"ssss"%>
